# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
*.png
*.tiff
*.tif
*.hdr
SourceCode/data/MasterThesis/final_hs_data_folder/AN_TJ_1/image_rectified/ang20220711t002111_rfl_v2aa2_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/AN_TJ_1/image_raw/ang20220711t002111_rfl_v2aa2_img
SourceCode/data/MasterThesis/final_hs_data_folder/AN_TJ_1/mask/ang20220711t002111_rfl_v2aa2_img_rectified_savi_mask_02
/SourceCode/data/MasterThesis/final_hs_data_folder/AN_TJ_1/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_1/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/BRW_VS_1/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/BRW_PW_1/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/AN_TJ_2/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/PRUAIR_DW_1/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/FRST_AK_3/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/FRST_AK_2/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_4/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_3/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_2/result_biodivMapR
/SourceCode/data/MasterThesis/final_hs_data_folder/ATQ_VK_1/result_biodivMapR
SourceCode/data/MasterThesis/final_hs_data_folder/AN_TJ_2/image_raw/ang20220711t003358_rfl_v2aa2_img
SourceCode/data/MasterThesis/final_hs_data_folder/ATQ_VK_1/image_raw/ang20190712t231624_rfl_v2v2_img
SourceCode/data/MasterThesis/final_hs_data_folder/BRW_PW_1/image_raw/ang20190712t212208_rfl_v2v2_img
SourceCode/data/MasterThesis/final_hs_data_folder/BRW_VS_1/image_raw/ang20190712t212208_rfl_v2v2_img
SourceCode/data/MasterThesis/final_hs_data_folder/FRST_AK_3/image_raw/ang20190713t024201_rfl_v2v2_img
SourceCode/data/MasterThesis/final_hs_data_folder/FRST_AK_2/image_raw/ang20220709t233937_rfl_v2aa2_img
SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_1/image_raw/ang20190712t211646_rfl_v2v2_img
SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_2/image_raw/ang20190712t212208_rfl_v2v2_img
SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_3/image_raw/ang20190712t231624_rfl_v2v2_img
SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_4/image_raw/ang20190706t210739_rfl_v2v2_img
SourceCode/data/MasterThesis/final_hs_data_folder/PRUAIR_DW_1/image_raw/ang20170709t003728_corr_v2p9_img
SourceCode/data/MasterThesis/final_hs_data_folder/PRUARC_DW_1/image_raw/ang20170709t000442_corr_v2p9_img
SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_4/image_rectified/ang20190706t210739_rfl_v2v2_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_3/image_rectified/ang20190712t231624_rfl_v2v2_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_2/image_rectified/ang20190712t212208_rfl_v2v2_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/FLXTWRZONA_SD_1/image_rectified/ang20190712t211646_rfl_v2v2_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/PRUARC_DW_1/image_rectified/ang20170709t000442_corr_v2p9_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/PRUAIR_DW_1/image_rectified/ang20170709t003728_corr_v2p9_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/FRST_AK_2/image_rectified/ang20220709t233937_rfl_v2aa2_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/AN_TJ_2/image_rectified/ang20220711t003358_rfl_v2aa2_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/FRST_AK_3/image_rectified/ang20190713t024201_rfl_v2v2_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/BRW_VS_1/image_rectified/ang20190712t212208_rfl_v2v2_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/BRW_PW_1/image_rectified/ang20190712t212208_rfl_v2v2_img_rectified
SourceCode/data/MasterThesis/final_hs_data_folder/ATQ_VK_1/image_rectified/ang20190712t231624_rfl_v2v2_img_rectified
